

main {
    margin: 0;
    padding: 0;
    /* width: 100vw;
    height: 100vh; */
    display: flex;
    justify-content: space-between;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

section {
    padding: 30px;
    text-align: left;
    color: white;
    border-radius: 8px;
}

.about {
    background-color: gray;
}

.info {
    background-color: orange;
}

.company {
    background-color: grey;
}

@media (max-width: 768px) {
    main {
        padding: 10px;
    }

    section {
        padding: 20px;
    }
}
